@font-face {
    font-family: 'Noto sans KR-R';
    src: url('/font/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto sans KR-B';
    src: url('/SW-BankProject/font/NotoSansKR-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto sans KR-L';
    src: url('/font/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'ReemKufiFun';
    src: url('/font/ReemKufiFun-Regular.ttf') format('truetype');
}

body {
    font-family: 'Noto Sans KR-B', sans-serif;
    font-weight: 400;
    /* Change this as needed based on your design */
    line-height: 1.6;
    /* Optional: To improve readability */
}



* {
    margin: 0;
    padding: 0;
}

#nav {
    height: 20px;
}

#coin_bank {
    margin-top: 50px;
}

.post_card,
.post_card_img {
    filter: drop-shadow(2px 7px 15.7px rgba(0, 0, 0, 0.10));
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 20px; */
    height: 100vh;
    /* text-align: center; */
    /* height: 100vh; */
    /* 한 화면을 차지하도록 설정 */
}



#upload_btn_img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.floating-btn {
    position: fixed;
    bottom: 40px;
    right: 15px;
    width: 230px;
    height: 70px;
    background-color: #fff;
    font-weight: 600;
    font-family: 'Noto Sans KR-B', sans-serif;
    /* 원하는 색상 */
    color: black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* 페이지 내 다른 요소 위에 표시되도록 */
}


#coin_bank_title {
    /* margin-top: 56px; */
    margin-bottom: 7px;
    color: #000;
    text-align: center;
    font-family: 'Noto Sans KR-B', sans-serif;
    /* 제목에도 NotoSansKR 적용 */
    font-weight: 900;
    font-size: 40px;
    font-style: normal;
    /* font-weight: 900; */
    line-height: normal;
}

#coin_bank_subtitle {
    margin-top: 7px;
    font-size: 20px;
    font-family: 'Noto Sans KR-L';
}

#coin_bank {
    height: 60vh;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.coin_container {
    position: relative;
    width: 400px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_coin {
    position: absolute;
    text-align: center;
}

#my_coin_text {
    /* position: absolute; */
    top: 55%;
    left: 47.5%;
    font-size: 18px;
    justify-content: center;

}

#my_coin {
    top: 61%;
    left: 46%;
    font-size: 38px;
    font-weight: 900;
}

.my_coin h1 {
    margin-bottom: 10px;
}

.my_coin h2 {
    margin: 0;
}

#my_post {
    background: #E4E3E1;
    width: 100%;
    height: auto;
    /* flexbox 유지 */
    display: flex;
    align-items: flex-start;
    /* padding-left: 50; */

    box-sizing: border-box;
    padding: 50px 100px 100px;


}


.fake_button {
    font-family: 'Noto Sans KR-L', sans-serif;
    margin-top: 295px;
    margin-right: 190px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 23%;
    height: 23px;
    flex-shrink: 0;


    background-color: #306C1B;


    padding: 2px 5px;
    border-radius: 50px;
    padding-bottom: 5px;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;

    display: inline-flex;

}

.post_card_img {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    /* 중앙에서 살짝 왼쪽으로 이동 (50%가 중앙, 추가 10% 왼쪽 이동) */
    width: 290px;
    height: 300px;
    flex-shrink: 0;

}


.local_food_info_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.post_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.post_card {
    position: relative;
    justify-content: center;
    /* align-items: center; */
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    height: 380px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

img.post_card_icon {

    width: 24px;
    height: 24px;


}

.post_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.local_food_info {

    margin-top: 4px;
    color: #000;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: "Noto sans KR-B";
    font-size: 16px;
    font-weight: 700;
    line-height: 122%;
    margin-left: 5px;


}

.post_text_wrapper>.local_food_menu_name {
    color: #306C1B;
    margin-left: 4px;
    margin-top: 5px;
    font-family: "Noto sans KR-B";
    font-size: 25px;
    font-weight: 900;
    line-height: 122%;

}


.post_text {
    margin-top: 8px;
    flex: 1;
    /* margin-left: 5px; */
}

#coin_bank_img {
    margin-top: 40px;
    width: 400px;
    height: 270px;
    flex-shrink: 0;
}

#coin_bank_title,
#coin_bank_subtitle,
#coin_bank_img,
#my_post_title,
#my_post_subtitle {
    display: block;

}

#my_post_title {
    color: #383838;
    /* font-family: "Noto Sans KR"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 0;


    /* margin-top: 54px; */
}

#my_post_subtitle {
    text-align: left;
    margin-top: 0;
    color: #000;
    /* font-family: "Noto Sans KR"; */
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 35px;
}