body {
    font-family: 'Noto Sans KR-B', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.floating-btn {
    position: fixed;
    bottom: 40px;
    right: 15px;
    width: 230px;
    height: 70px;
    background-color: #fff;
    font-weight: 600;
    font-family: 'Noto Sans KR-B', sans-serif;
    /* 원하는 색상 */
    color: black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* 페이지 내 다른 요소 위에 표시되도록 */
}

#upload_btn_img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}